* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: gold;
  min-width: 100vw;
  min-height: 100vh;
}

header {
  width: 100vw;
  height: 50px;
  background-color: transparent;
}

nav {
  position: relative;
  perspective: 600px;
}

.dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.dropdown {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateY(65px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

nav ul {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  cursor: pointer;
}

li p {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.highlight {
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s;
  z-index: -1;
}
